body, html{
  margin: 0;
  padding: 0;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #FCFCFC;
}

.wrapper{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  height: 350px;
}

.logo{
  margin: 0 auto;
  width: 350px;
}


header{
  background:url('../pictures/img/park01.jpg');
  background-size: cover;
  background-position: center;
  background-color: #CCCCCC;
 
}

.header-content{
  padding: 1em;

  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);


  -webkit-animation: fadein 4s; 
  -moz-animation: fadein 4s; 
  -ms-animation: fadein 4s; 
  -o-animation: fadein 4s; 
  animation: fadein 4s;
}

.container {
    max-width: 750px;
    margin: 60px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap:wrap;
    justify-content: center; 
}

.container button
{
    margin-top: 5px;
  width: 100%;
  padding: 10px 14px;
  border: none;
  border-radius: 4px;
  background: #0078d4;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.day {
  width: 75%;
  margin: 10px 25px 10px 25px;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  justify-content: center;
  text-align: center;
  
}

.day a {
  text-decoration: none;
  color:black;
  padding: 0px;
  font-weight: bold;
  font-size: 30px;
}


.PHOTO-item a 
{
    text-decoration: none;
  color:black;
  padding: 0px;
  font-weight: bold;
}

.nav a
{
  text-decoration: none;
  color:black;
  padding: 0px;
  font-weight: bold;
}

.nav 
{
display: flex;
justify-content: space-between;
}

.nav-item
{
  width: 25%;
margin: 5px 10px 5px 10px;
border-radius: 5px;
padding: 2px;
box-shadow: 0 4px 12px rgba(0,0,0,0.1);
justify-content: center;
text-align: center;
font-size: 30px;
}

.PHOTO {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
}

.PHOTO-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  flex: 0 0 calc(18% - 16px);
  box-sizing: border-box;
}

.PHOTO img {
  margin: 0;
  width: 100%;
  height: auto;
  box-shadow: 0 3px 12px rgba(0,0,0,0.1);
  border-radius: 2px;
  background-color: rgb(0, 0, 0);
  padding: 5px;
}

.PHOTO-item button {
  margin-top: 0px;
  width: 100%;
  padding: 10px 14px;
  border: none;
  border-radius: 4px;
  background: #0078d4;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.PHOTO-item button:hover {
  background: #005ea6;
}

.title
{
max-width: 750px;
    margin: 20px auto;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    font-size: 25px;
}

.PhotoContainer
{
text-decoration: none;
  color:black;
  padding: 0px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.PhotoContainerItem
{
  margin: 10px 20px 10px 20px;
}

.PhotoContainer img 
{
    margin-top: 0px;
  width: 100%;
  padding: 5px 5px;
  border: none;
  border-radius: 1px;
  background: #000000;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.buycontainer
{
  margin-top: 0px;
  width: 100%;
  border: none;
  border-radius: 1px;
  font-size: 1rem;
}

.buy-items
{
    width: 75%;
  margin: 10px 25px 10px 25px;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  justify-content: center;
  text-align: center;
}

.buy-items button
{
  background-color: #ff2f2f;
  color:rgb(0, 0, 0);
  padding:5px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-bottom: 5px;
    cursor:pointer;
}

.cartcontainer
{
  display: flex;
  flex-wrap: nowrap;
 
}

.cartitem
{
  margin-left: 20px;
 margin-bottom: 20px;
 width: 50%
}

.cart
{
margin: 45px 10px 145px 10px;
}

.cart button
{
  background-color: #025697;
  color:white;
  padding:10px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-bottom: 5px;
    cursor:pointer;
    text-decoration:none;
    font-size: 16px;

}

.cart a
{
  text-decoration:none;
  color: white;
}
